<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title><%= title%></title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <div class="header1">
      <h1>Wellspring College Staff Movement</h1>
    </div>
    <div class="creatediv">
      <div class="navdiv">
        <ul>
          <% if(staffuser){%>
           <li>Welcome,<%=staffuser.email%></li>
            <li>
            <a href="/logout"><button>LOGOUT</button></a>
            </li>
          <%}else{%>
               <li>
                <a href="/login"><button>LOG IN</button></a>
              </li>
          <li>
            <a href="/signup"><button>SIGN UP</button></a>
          </li>
        <%}%> 
        </ul>
      </div>
    </div>
    <div class="aboutdiv">
      <p>This is the Wellspring College Staff Movement application.</p>
      <p>
        Here, you can find information about the application, its purpose, and
        how to use it.
      </p>
      <p>
        Wellspring College Staff Movement is designed to help manage and track
        staff movements within and beyond the college. It allows staff members
        to log their movements, view movement logs, and stay informed about
        staff activities.
      </p>
      <p>
        To get started, you can create an account or log in if you already have
        one. Once logged in, you can access the staff movement log and
        contribute to the community by sharing your movements.
      </p>
      <p>Thank you for using Wellspring College Staff Movement!</p>
    </div>
  </body>
</html>
