<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title><%= title%></title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <div class="header1">
      <h1>Wellspring College Staff Movement</h1>
    </div>
    <div>
      <h2>Please, fill in The following information for your movement log</h2>
    </div>
    <div class="namediv">
      <form action="/staff" method="POST">
        <div>
          <label for="staffname">Name</label>
          <input type="text" name="staffname" id="name" required />
        </div>

        <div>
          <label for="destination">Destination</label>
          <input type="text" name="destination" id="destination" required />
        </div>

        <div>
          <label for="purpose">Purpose</label>
          <input type="text" name="purpose" id="purpose" required />
        </div>

        <div>
          <label for="department">Department</label>
          <input type="text" name="department" id="department" required />
        </div>

        <div>
          <label for="authorization">Authorization</label>
          <input type="text" name="authorization" id="authorization" required />
        </div>

        <div>
          <label for="possiblereturn">Possibility Of Return</label>
          <input
            type="text"
            name="possiblereturn"
            id="possiblereturn"
            required
          />
        </div>

        <div>
          <label for="timeout">Time Out</label>
          <input type="text" name="timeout" id="timeout" required />
        </div>

        <div>
          <label for="timein">Time In</label>
          <input type="text" name="timein" id="timein" required />
        </div>
        <input type="submit" value="Submit" />
      </form>
    </div>
  </body>
</html>
