<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title><%= title%></title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <div class="header1">
      <h1>Wellspring College Staff Movement</h1>
    </div>
    <div class="navdiv">
      <ul>
        <li>
          <a href=""><button>LOG IN</button></a>
        </li>
        <li>
          <a href=""><button>LOGOUT</button></a>
        </li>
        <li>
          <a href=""><button>SIGN UP</button></a>
        </li>
      </ul>
    </div>
    <a href="/staff" class="butdiv"><button>View Movement Log</button></a>
  </body>
</html>
