<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title><%= title%></title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <div class="header1">
      <h1>Wellspring College Staff Movement</h1>
    </div>
    <div>
      <h2>SIGN UP</h2>
    </div>
    <div class="namediv">
      <form action="">
        <div>
          <label for="email">Email</label>
          <input type="text" name="email" id="email" required />
        </div>
        <div class="email error"></div>
        <div>
          <label for="password">Password</label>
          <input type="password" name="password" id="password" required />
        </div>
        <div class="password error"></div>
        <button class="submitbutton">SUBMIT</button>
      </form>
    </div>
    <script>
      const form = document.querySelector("form");
      const emailerror = document.querySelector(".email.error");
      const passworderror = document.querySelector(".password.error");
      form.addEventListener("submit", async (e) => {
        e.preventDefault();

        const email = form.email.value;
        const password = form.password.value;
        try {
          const res = await fetch("/signup", {
            method: "POST",
            body: JSON.stringify({ email, password }),
            headers: {
              "Content-Type": "application/json",
            },
            credentials: "include",
          });
          let data = await res.json();
          if (data.errors) {
            emailerror.textContent = data.errors.email;
            passworderror.textContent = data.errors.password;
          }
          if (data.staffuser) {
            window.location.assign("/staff");
          }
        } catch (error) {
          console.log(error);
        }
      });
    </script>
  </body>
</html>
