<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title><%= title%></title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <div class="header1">
      <h1>Wellspring College Staff Movement</h1>
    </div>
    <div>
      <h2>SIGN UP</h2>
    </div>
    <div class="namediv">
      <form action="">
        <div>
          <label for="email">Email</label>
          <input type="text" name="email" id="email" required />
        </div>
        <div>
          <label for="password">Password</label>
          <input type="password" name="password" id="password" required />
        </div>
        <button class="submitbutton">SUBMIT</button>
      </form>
    </div>
    <script>
      const form = document.querySelector("form");
      form.addEventListener("submit", async (e) => {
        e.preventDefault();
        const email = form.email.value;
        const password = form.password.value;
        const res = await fetch("/signup", {
          method: "POST",
          body: JSON.stringify({ email, password }),
          headers: {
            "Content-Type": "application/json",
          },
          credentials: "include",
        });
        const data = await res.json();
      });
    </script>
  </body>
</html>
