.header1 {
  flex: 1;
  justify-content: center;
  background-color: blue;
}
.creatediv {
  display: flex;
  justify-content: end;
  align-item: top;
}
h1 {
  color: white;
  text-align: center;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
h2 {
  color: blue;
  text-align: center;
}
li {
  display: inline-block;
  margin-top: 0px;
}
.navdiv {
  display: inline-block;
  align-items: end;
}
.viewdiv {
  text-align: center;
}
.staffdiv {
  text-align: center;
  color: blue;
}
.butdiv {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
.aboutdiv {
  width: 80%;
  max-width: 800px;
  margin: 50px auto;
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  line-height: 1.8;
}
p {
  font-size: 18px;
  color: blue;
}
.errordiv {
  margin-top: 70px;
  text-align: center;
}
.erdiv {
  color: blue;
}
.abdiv {
  display: inline-block;
}
.stafflogdiv {
  text-align: center;
  position: relative;
}
.iconimage {
  width: 50px;
  height: 50px;
  cursor: pointer;
}
.imagesmall {
  position: absolute;
  top: 200px;
  right: 350px;
}
.trashdelete {
  margin-top: 5px;
  font-size: 14px;
}
.submitbutton {
  background-color: blue;
  color: white;
  text-align: center;
  width: 100%;
  height: 30px;
  cursor: pointer;
  border: none;
}
form {
  background-color: white;
  padding: 30px;
  width: 80%;
  max-width: 400px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.namediv {
  display: flex;
  justify-content: center;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
}

input:focus {
  outline: none;
  border-color: blue;
}

input[type="submit"] {
  background-color: blue;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 18px;
  transition: 0.3s;
}
input[type="Update"] {
  background-color: blue;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 18px;
  transition: 0.3s;
  text-align: center;
}
input[type="login"] {
  background-color: blue;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 18px;
  transition: 0.3s;
  text-align: center;
}
input[type="signup"] {
  background-color: blue;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 18px;
  transition: 0.3s;
  text-align: center;
}
input[type="submit"]:hover {
  background-color: darkblue;
}

/* Mobile responsiveness */

@media (max-width: 600px) {
  form {
    padding: 20px;
  }

  input {
    font-size: 14px;
  }
}
